#container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.pixel{
    border-style: dotted;
    margin: 0%;
    padding: 0%;
    border: 0px;
    background-color: saddlebrown;
}
div:hover{
    background-color: aqua;
}
body{
    margin: 0px;
}